.todoInput {
	padding-left: 0.25rem;
}

.todoInput,
.todoListInput {
	padding-right: 0.25rem;
	width: 80%
}

.todoListQty {
	padding-right: 0.25rem;
	width: 20%
}
/* .sapMListTblCell .productsTable>td { */
/* 	border-right: 1px solid lightgray; */
/* 	border-left: 1px solid lightgray; */
/* } */

#__xmlview1--idProductsTable-tblHeader>th{
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}

#__xmlview1--idProductsTable-tblBody>tr>td{
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}
 
.sapMListTblNavCol{
	width:0rem!important;
}
.cartIcon{
	margin-top: 26px;
    padding-right: 0.5rem;
}
.applyCouponButtonBoxStyle{
	align-items: center;
	
}
.totalAmount{
	padding-left: 3rem;
}

.applyCouponStyle{
	padding-left: 0.4rem;
	height: 5rem;
	position: absolute;
}
.labelStyle{
	padding-top: 1rem;
    padding-right: 0.3rem;
    padding-left:0.3rem;
}
.contentPadding{
	padding:1rem;
}
#__xmlview1--TreeTableBasic-sapUiTableColHdrScr{
	padding-left:1.5rem;
	
}
#__xmlview1--TreeTableBasic-sapUiTableRowHdrScr{
	width:0;
}
#__xmlview1--TreeTableBasic-selall{
	width:0;
}

.removePanelBottomBorder {

    padding: 0rem;                                                       
    border-bottom: 1px solid #e5e5e5;

}


.centre {
	margin-left: auto;
	margin-right: auto;
	display: block
}
